
USE QUANLYTONKHO


-- Tạo bảng ------------------------------
CREATE TABLE ACCOUNT
(
	USERNAME NCHAR(50),
	PASS NCHAR(50),
	TYPEACC TINYINT DEFAULT 0,
	PRIMARY KEY (USERNAME)
)

CREATE TABLE HANGHOA
(
	MAHANG NVARCHAR(10) NOT NULL,
	TENHANG NVARCHAR(20),
	GIA INT,
	MAKHO NVARCHAR(10) NOT NULL,
	NGAYNHAP DATE,
	SOLUONG INT,
	PRIMARY KEY(MAHANG)
)

CREATE TABLE KHACHHANG
(
	MAKHACHHANG NVARCHAR(10) NOT NULL,
	TENKHACHHANG NVARCHAR(30),
	SODIENTHOAI NVARCHAR(11),
	DIACHI NVARCHAR(50)
	PRIMARY KEY(MAKHACHHANG)
)

CREATE TABLE KHO
(
	MAKHO NVARCHAR(10) NOT NULL,
	TENKHO NVARCHAR(30)
	PRIMARY KEY(MAKHO)
)

CREATE TABLE PHIEUHANG
(
	SOCHUNGTU NVARCHAR(10),
	MAHANG NVARCHAR(10),
	MAKHACHHANG NVARCHAR(10),
	MAKHO NVARCHAR(10),
	NGAY DATE,
	SOLUONG INT,
	DIENGIAI NVARCHAR(50),
	LOAIPHIEU TINYINT,
	PRIMARY KEY(SOCHUNGTU)
)

CREATE TABLE PHIEUXUATKHO
(
	SOCHUNGTU NVARCHAR(10),
	MAHANG NVARCHAR(10),
	MAKHOXUAT NVARCHAR(10),
	MAKHONHAP NVARCHAR(10),
	NGAY DATE,
	DIENGIAI NVARCHAR(50),
	PRIMARY KEY(SOCHUNGTU)
)

-- Chèn khóa ngoại -------------------------
ALTER TABLE HANGHOA
ADD CONSTRAINT FK_HANGHOA_KHO
FOREIGN KEY (MAKHO)
REFERENCES KHO(MAKHO)

ALTER TABLE PHIEUHANG
ADD CONSTRAINT FK_PHIEUHANG_HANGHOA
FOREIGN KEY (MAHANG)
REFERENCES HANGHOA(MAHANG)

ALTER TABLE PHIEUHANG
ADD CONSTRAINT FK_PHIEUHANG_KHACHHANG
FOREIGN KEY (MAKHACHHANG)
REFERENCES KHACHHANG(MAKHACHHANG)

ALTER TABLE PHIEUHANG
ADD CONSTRAINT FK_PHIEUHANG_KHO
FOREIGN KEY (MAKHO)
REFERENCES KHO(MAKHO)

ALTER TABLE PHIEUXUATKHO
ADD CONSTRAINT FK_PHIEUXUATKHO_HANGHOA
FOREIGN KEY (MAHANG)
REFERENCES HANGHOA(MAHANG)

ALTER TABLE PHIEUXUATKHO
ADD CONSTRAINT FK_PHIEUXUATKHO_KHO
FOREIGN KEY (MAKHOXUAT)
REFERENCES KHO(MAKHO)

ALTER TABLE PHIEUXUATKHO
ADD CONSTRAINT FK_PHIEUXUATKHO_KHO2
FOREIGN KEY (MAKHONHAP)
REFERENCES KHO(MAKHO)

-- Chèn dữ liệu vào database

-- Tài khoản
INSERT INTO ACCOUNT VALUES('nhutcuong', '123', 1)
INSERT INTO ACCOUNT VALUES('taikhoan2', '123', 2)
INSERT INTO ACCOUNT VALUES('phht12', '123', 2)
-- Kho
INSERT INTO KHO VALUES('K001', 'Kho Đà Nẵng')
INSERT INTO KHO VALUES('K002', 'Kho Hà Nội')
INSERT INTO KHO VALUES('K003', 'Kho Hồ Chí Minh')
-- Khách hàng
INSERT INTO KHACHHANG VALUES('KH0001', 'Nguyễn Văn Hoàng', '01228585454', 'Quận 11, TP Hồ Chí Minh')
INSERT INTO KHACHHANG VALUES('KH0002', 'Trần Kim Long', '09098585754', 'Quận 10, TP Hồ Chí Minh')
INSERT INTO KHACHHANG VALUES('KH0003', 'Phan Thành Long', '0168478521', 'Hoàn Kiếm, Hà Nội')
-- Hàng hóa
INSERT INTO HANGHOA VALUES ('MH001', 'Cà phê', 20000, 'K001', '2018-05-01', 100)
INSERT INTO HANGHOA VALUES ('MH002', 'Nước cam', 15000, 'K002', '2018-05-01', 150)
INSERT INTO HANGHOA VALUES ('MH003', 'Coca cola', 10000, 'K003', '2018-05-01', 100)
-- Phiếu nhập hàng
INSERT INTO PHIEUHANG VALUES ('CT001', 'MH001', 'KH0001', 'K001', '2018-05-02', 20, 'Nhập hàng từ Thành Phố', 1)
INSERT INTO PHIEUHANG VALUES ('CT002', 'MH002', 'KH0002', 'K002', '2018-05-02', 30, 'Nhập hàng từ Cần Thơ', 1)
-- Phiếu xuất hàng
INSERT INTO PHIEUHANG VALUES ('CT003', 'MH002', 'KH0002', 'K002', '2018-05-03', 10, 'Xuất hàng đến Thành Phố', 2)
